html {
  height: 100%;
  width: 100%;
  background-color: lightcyan;
}
ul {
  list-style: none;
}
h1 {
  text-align: center;
}
.topnav {
  border-style:solid;
  font-size: 25px;
  background-color: #fff000;
  overflow: hidden;
  text-align: center;
  height: 50px;
}
img {
  text-align: center;
}